<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AistLabData.Properties.Settings.KDLConnectionString1"
            connectionString="Data Source=PPC;Initial Catalog=KDL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AistLabData.Properties.Settings.AISTConnectionString1"
            connectionString="Data Source=IVAN-PPC;Initial Catalog=AIST;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AistLabData.Properties.Settings.KDLConnectionString"
            connectionString="Data Source=PPC\SQLEXPRESSR2;Initial Catalog=KDL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AistLabData.Properties.Settings.KDLConnectionString2"
            connectionString="Data Source=IVAN-PPC\SQLSERVERR2;Initial Catalog=KDL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AistLabData.Properties.Settings.KDLConnectionString3"
            connectionString="Data Source=PPC\MSSQLSERVERENTER;Initial Catalog=KDL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>