<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
  <connectionStrings>
         <add name="KDL" connectionString="MSmBdMBUdtH1wuW4AUqsYHYZDfZwysNYjcC7xeimyM+B30XM3N/d40xt368f0Z3q6PZW33VQalejk4bgyTBZsrUpouHIDhlQQwCjwqRnm4g=" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
